<div id="container">
  <div id="menu">
      <div id="menu-info">
        <div>
          <span>Apps</span>
          <span>support</span>
          <span>contribute</span>
          <span>Leaderboard</span>
        </div>
    </div>
    <div id="menu-main">
      <div>
        <span>Discover</span>
        <span>Movie</span>
        <span>Tv Shows</span>
        <span>people</span>
      </div>
    </div>
    <div id="menu-login">
      <div>
        <span>+</span>
        <span>EN</span>
        <span>Login</span>
        <span>Sign Up</span>
      </div>
    </div>
  </div>
</div>
